@inherits LayoutComponentBase

<!DOCTYPE html>
<html style="background-color: black">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Counter</title>
    </head>

    <body>
        <transition name="fade">
            <div v-if="show">
                <div class="main-page">
                    <div class="sidebar">
                        <NavMenu />
                    </div>

                    <div class="zoom-enter-active" style="overflow-x: hidden;">
                        @Body
                        @* <ActiveTrackViewComponent /> *@
                    </div>
                </div>
            </div>
        </transition>
    </body>
</html>