@page "/faqs"

<header class="header main-title-listing">
    <div>
        <img class="icon-title" src="/images/faqsim.svg" alt="FAQ"> FAQs
    </div>
</header>

<div class="card-faqs">
    <FaqBlockView block="@_block"/>
</div>

@code {
    private FaqBlock _block;

    protected override void OnInitialized()
    {
        var artciels = new FaqArticle[]
        {
            new("Что такое медиаплеер с системой управления жестами?",
            "Медиаплеер с системой управления жестами - это устройство или приложение, которое позволяет вам управлять воспроизведением медиа-контента с помощью жестов, таких как жесты руками или пальцами."),
            
            new("Какие жесты можно использовать для управления медиаплеером?",
            "В зависимости от конкретной системы управления, вы можете использовать различные жесты, такие как махание рукой для паузы/воспроизведения, пальцы вверх/вниз для регулировки громкости, круговые движения для перемотки и другие."),
            
            new("Как настроить медиаплеер с системой управления жестами?",
            "Для настройки медиаплеера с системой управления жестами, обычно требуется провести калибровку жестов или пройти процедуру обучения системы на ваши жесты. Это поможет устройству правильно распознавать ваши жесты."),
            
            new("Какие преимущества предлагает система управления жестами для медиаплеера?",
            "Система управления жестами делает управление медиаплеером более удобным и интуитивным. Вы можете перемещаться по контенту, регулировать громкость и управлять воспроизведением без необходимости использования кнопок или пульта дистанционного управления."),
           
            new("Насколько точно распознается система управления жестами?",
            "Точность распознавания жестов зависит от некоторых факторов: освещение в комнате; растояние до видеокамеры; качество записи камеры. Для лучшего распознавания необходимо находится в близи 3 метров к камере, с достаточным освещением."),
           
            new("Где можно начать использовать жесты в плеере?",
            "Для начала взаимодействия с медиаплеером с помощью жестов необходимо включить любой трек, будет выполнен переход на детальную страницу трека, на которой и произойдет активация управления жестами."),
   
        };
        _block = new FaqBlock(artciels);
    }
 }